body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: .8em;
  background-color: #afac9c;
  color: #efefe6;
}


header {
  text-align: left;
  background-color: #efefe6;
  color: #bbbca7;
  font-weight: 100;
  font-size: .8em;
  padding: 10px;
}

.title {
  color:#bbbca7;
}


footer {
  height: 1em;
  text-align: right;
  background-color: #efefe6;
  color: #2d2c2a;
  font-size: .7em;
  padding: 10px ;
}

main {
  margin: 20px 0;
}

.container-1 {
  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.container-title {
  margin: 3px;
  border-bottom: 1px solid #f4f4ea ;
  padding: 3px;
  
}

.drum1, .synth1, .sampler1, .mixer
 {
  margin: 5px;



}
section {
  border: 1px solid white;
  width: 300px;
  height: 300px;
}

/* Correct ID selectors */
#drum1-on-Button,
#DRUM1-SEQstart-Button,
#synth1-on-Button,
#SYNTH1-SEQstart-Button,
#sampler1-on-Button,
#SAMPLER1-SEQstart-Button,
#mixer-on-Button,
#MIXER-mute-Button {
  padding: 7px 10px;
  margin: 3px;
  background-color: #59584f;
  color: white;
  border: 1px solid black;
  cursor: pointer;
}

/* Hover effect for all buttons */
button:hover {
  background-color: #0056b3;
}


/* _____________________________________________________________________________________________ */
/* _____________________________________________________________________________________________ */
/* _____________________________________________________________________________________________ */
/* Mobile-specific styles */


@media(max-width: 768px) {
  header {
    text-align: left; /* Center the header and footer on mobile */
  }

  .footer {
    text-align: right; /* Center the header and footer on mobile */

  }

  .container-1 {
    justify-content: center; /* Center the content horizontally on mobile */
    align-items: center; /* Center the content vertically on mobile */
  }

  section {
    width: 100%;  /* Full width on mobile */
    height: auto; /* Let the height adjust based on content */
    margin: 10px 0; /* Margin to give some spacing */
  }
}